main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.FundoAzul {
    background: linear-gradient(20deg, rgb(5, 0, 80), rgb(0, 32, 138));
}

.FundoDescricaoSol {
    background: linear-gradient(20deg, rgba(175, 140, 1, 0.5), rgba(194, 142, 0, 0.863));
}

.FundoDescricaoChuva {
    background: linear-gradient(20deg, rgb(1, 68, 145), rgb(0, 7, 105));
}

.FundoDescricaoParcialmenteNublado {
    background: linear-gradient(20deg, rgba(75, 75, 75, 0.5), rgb(2, 115, 190));
}

.FundoDescricaoChuvaFraca {
    background: linear-gradient(20deg, rgb(0, 32, 138), rgb(1, 68, 145));
}

.FundoNeblina{
    background: linear-gradient(20deg, rgba(75, 75, 75, 0.5), rgba(15, 78, 119, 0.6));
}

.FundoNublado{
    background: linear-gradient(20deg, rgb(75, 75, 75), rgb(15, 78, 119));
}

.FundoCeuLimpo{
    background: linear-gradient(20deg, rgb(2, 113, 204), rgb(1, 74, 133));
}

.containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    & h1 {
        font-size: 2rem;
    }

    & p {
        margin: 0;
        color: rgb(80, 80, 80);
    }
}

.containerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 2rem;
    width: 40%;
    background-color: rgb(236, 236, 236);
    margin: 2rem;

    & button {
        border: none;
        cursor: pointer;
        padding: 1rem;
        width: 30vw;
        font-weight: 600;
        border-radius: 0.5rem;
        background-color: rgb(5, 0, 80);
        color: white;
    }
}

input {
    border: none;
    border-bottom: 2px solid rgb(5, 0, 80);
    outline: none;
    padding: 1rem;
    width: 30vw;
    border-radius: 0.5rem 0.5rem 0 0;
}

button {
    border: none;
    cursor: pointer;
    padding: 1rem;
    width: 30vw;
    border-radius: 0.5rem;
    background-color: rgb(5, 0, 80);
    color: white;

    &:hover {
        background-color: rgb(2, 0, 50);
    }
}

/* Layout informações d cidade */
.containerResult {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: rgba(194, 194, 194, 0.3);
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.4);
    margin-top: 1rem;
}

.containerTemperatura_header {
    display: flex;
}

.icon_MapPin {
    width: 1rem;
    height: 1rem;
}

.containerTemperatura {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.header_containerResult {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(252, 252, 252);
}

.textData {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: rgb(211, 211, 211);
    margin-top: 2rem;
}

.textTemperatura {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(252, 252, 252);
}

span {
    font-weight: 400;
    color: rgb(211, 211, 211);
}

p {
    margin-top: 1rem;
}

.textError {
    color: rgb(173, 0, 0);
}

/* Card */
.containerCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 2fr));
    gap: 1rem;;
    width: 50%;
}

/* Card previsão da semana */
.containerCardPrevTemp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12%, 7fr));
    gap: 1rem;
    width: 50%;

    & .cardPrevTemp{
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        border-radius: 0.5rem;
        background-color: rgba(194, 194, 194, 0.3);
        box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.4);
        padding: 1rem;

        & .dayWeeks_cardPrevTemp {
            color: white;
            font-size: 0.8rem;
            text-transform: capitalize;
            text-align: center;
            margin: 0;
        }
    
        & img {
            width: 3rem;
        }
        
        & .text_cardPrevTemp {
            display: flex;
            justify-content: space-between;
            
            & .text_maxtemp, .text_mintemp {
                font-size: 0.8rem;
                color: rgb(235, 235, 235);
            }
        }
    }
}


@media (max-width: 980px)  {
    .containerResult, .containerCard, .containerCardPrevTemp {
        width: 90%;
    }

    .containerCardPrevTemp {
        & .cardPrevTemp{
            & .dayWeeks_cardPrevTemp {
                font-size: 0.6rem;
            }         
        }
    }
}